* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background: url(../images/window-imgaes/BG.png) no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    padding: 30px;
}

.country-img img {
    width: 40px;
}

.country-img {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.welcome-card img {
    width: 25%;
}

.welcome-card {
    text-align: center;
    position: relative;
    top: -40px;
}

.welcome-text {
    position: absolute;
    top: 80px;
    width: 100%;
}

.welcome-text img {
    width: 300px;
}

.button img {
    width: 26%;
}

.button {
    text-align: center;
    position: relative;
    top: -25px;
}

.button-text {
    position: absolute;
    top: 45px;
    width: 100%;
}

.button-text img {
    width: 250px;
}

.telegram-text {
    text-align: center;
}

.telegram-text img {
    width: 40%;
}

.telegram-img {
    text-align: end;
    margin-top: -98px;
}

.telegram-img img {
    width: 130px;
}

body {
    overflow-x: hidden; 
}

.service-text{
    padding-top: 20px;
}

.service-text img{
    width: 300px;
}
@media screen and (min-width:1900px) {
    .welcome-card img,
    .welcome-text img,
    .button img{
        width: auto;
    }

    .button-text{
        top: 84px;
    }

    .welcome-text{
        top: 120px;
    }
}


@media screen and (max-width:767px) {
    .wrapper{
        background: url("../images/mobile-bg.jpg");
        min-height: 100vh;
        background-size: 100% 100%;
        display: inline-block;
    }

    .telegram-img {
        text-align: end;
        position: absolute;
        bottom: 43px;
        right: 20px;
    }

    .welcome-text {
        position: absolute;
        top: 52px;
    }

    .welcome-text img {
        width: 30% !important;
    }
    .button img {
        width: 50%;
    }

    .button-text {
        position: absolute;
        top: 9px;
        width: 100%;
    }
    .button-text img{
        width: 100px;
    }

    .welcome-card{
        top: 10px;
    }

    .telegram-text img,
    .welcome-card img {
        width: 60%;
    }

    .button{
        margin-top: 60px;
    }
    
}

